/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main{
   
   
    background-color:#FFFFFF
}
.nav{

    display: flex;
    align-items: center;
    height: 4.875rem;
    justify-content: space-between;
 

}

.sideicon{
    
font-size: 1.063rem;
font-weight: 400;
line-height: 1.688rem;



}
.lefticon{
    

    font-family: 'Epilogue', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875rem;
    margin-left:2.625rem;
}
.righticon{
    display: flex;
    gap:1.5rem;
    margin-right: 1.594rem;
    align-items: center;
    

}
.two{
    
   padding: 2.625rem 3.5rem 2.625rem 3.5rem;
  
    display: flex;
    justify-content: space-between;
    
}
.two1{

    display: flex;
    flex-direction: column;
   gap: 1.5rem;
}

.child1{
    height: 1.875rem;
    
    font-family: 'Epilogue', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875rem;
    
}
.child2{
    height:4.375rem;
   
    font-family: 'Epilogue', sans-serif;
font-size: 4.25rem;
font-weight: 600;
line-height: 4.356rem;



}
.child3{
    height:4.875rem;
    
    
    font-family: 'Epilogue', sans-serif;
font-size: 1.063rem;
font-weight: 400;
line-height: 1.688rem;


}
.child4{
    height:7.875rem;
   
  
    
    
}
.contact{
    background-color: #2D2D2D;
    padding:1.5rem 4rem 1.5rem 4rem;
    color: #FFFFFF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 1.5rem
   

   
   

}
.three{
    height: 8.177rem;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.25rem;
    padding-right: 4.25rem;
    
}
.four{
    margin: 2.625rem 1.5rem 2.625rem 1.5rem;
   
   
    display: flex;
    
    justify-content: space-between;
}
.fchild1{
   
    width: 26.813rem;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 4rem;



}
.fchild12{
   
    font-family: 'Epilogue', sans-serif;
font-size: 1.688rem;
font-weight: 600;
line-height: 2.625rem;
margin-top: 2.625rem;


}
.fchild13{
    
    font-family: 'Epilogue', sans-serif;
font-size: 1.063rem;
font-weight: 400;
line-height: 1.688rem;
text-align: center;


}
.fchild2{
    
    width: 26.813rem;
}
.fchild3{
   
    width: 26.813rem;
}

.latest{
   
    font-family: 'Epilogue', sans-serif;
font-size: 2rem;
font-weight: 600;
line-height: 2.625rem;
text-align: center;



}
.fivemain{
   
    margin: 2.625rem 1.5rem 2.625rem 1.5rem;
    background-color:white;
   
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   grid-template-rows: repeat(2,1fr);
   gap: 0.9rem; 

   
}

.h1{
    
    font-family: 'Epilogue', sans-serif;
font-size:1.25rem;
font-weight: 600;
line-height: 1.875rem;

margin-top:1.5rem ;

}
.h2{
    font-family: 'Epilogue', sans-serif;
font-size: 1.063rem;
font-weight: 400;
line-height: 1.688rem;
margin-top: 0.5rem;

}

h1{
    text-align: center;
    
    font-family: 'Epilogue', sans-serif;
font-size: 2rem;
font-weight: 600;
line-height: 2.625rem;
padding-top: 2.625rem;

}
.testimonial{
   
   
    margin-top: 2.625rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2.625rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1.5rem;
}
.testtext{
    font-family: 'Epilogue', sans-serif;
font-size: 1.25rem;
font-weight: 600;
line-height: 1.875rem;




}
.testimonial1{
    display: flex;
    flex-direction: column;
    padding: 2.625rem 2.625rem 2.625rem 2.625rem;
    background-color: #F3F3F3;
   gap:4.625rem;

}
.client{
    display: flex;
    gap: 1rem;
  
}
.client2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hclient{
   
    font-family: 'Epilogue', sans-serif;
font-size: 1.25rem;
font-weight: 600;
line-height: 1.875rem;
height: 1.688rem;


}
.hclient1{
  
    font-family: 'Epilogue', sans-serif;
font-size: 1.063rem;
font-weight: 400;
line-height: 1.688rem;
height: 1.875rem;


}
.seven{
    padding: 2.625rem 1.5rem 2.625rem 1.5rem;
    

}
.last{
display: flex;
flex-direction: column;
gap:2.625rem;
}
.seven1{
  
    font-family: 'Epilogue', sans-serif;
font-size: 2rem;
font-weight: 600;
line-height: 2.625rem;
margin-bottom: 1.5rem;

}
.seven2{
    display: flex;
    justify-content: space-between;
    

    
}
.social{
    display: flex;
    gap:1.5rem;
}
.form{
    
    width: 32.5rem;
    display: flex;
    flex-direction: column;
   gap:0.75rem;
  


   
}
.form1,.form2{
   
    
    background-color: #F3F3F3;
border: none;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

.submit{
    background-color: #2D2D2D;
color: white;
    padding:1.5rem  4rem  1.5rem  4rem; 
    width: 12.438rem;
   
    font-family: 'Epilogue', sans-serif; 
font-size: 1.25rem;
font-weight: 600;
line-height: 1.875rem;
margin-top: 0.75rem;

}
.para{
    
    font-family: 'Epilogue', sans-serif;
font-size: 1.063rem;
font-weight: 400;
line-height: 1.688rem;



}
.form1::placeholder, .form2::placeholder {
    color: #555555; 
}

.one{
    width: 100%;
}



@media only screen and (min-width:320px) and (max-width: 425px)  {
    .four{
       
        flex-direction: column;
        align-items: center;

       }
       .fivemain{
        grid-template-columns: 1fr;
        grid-template-rows:unset;
       }
       
       .testimonial{
        grid-template-columns: 1fr;
       }
       .three{
        overflow: scroll;
        gap: 5rem;
       }
       .two2{
        display: none;
       }
       .child3{
        margin-top: 5rem;
       }
       html{
        font-size: 14px;
     }
     .seven2{
        flex-direction: column-reverse;
        gap:1.5rem;
     }
     .form{
        width: 100%;
     }
     
 }

 @media only screen and (min-width:760px) and (max-width:1024px)  {
    .fivemain{
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonial{
        grid-template-columns: repeat(2, 1fr);
    }
    .child3{
        margin-top: 5rem;
       }
}

 
 
